#include "models.h"

cJSON *{ name }_to_json({ cname } *{ name }) \{
    cJSON *json = cJSON_CreateObject();
    { fields_to_json }
    return json;
}

{ cname } *{ name }_from_json(cJSON *json) \{
    { cname } *{ name } = g_new({ cname }, 1);
    { fields_from_json }
    return { name };
}

void free_{ name }({ cname } *{ name }) \{
    { fields_free }
    g_free({ name });
}
